<ul id="pages" class="list" data-href="<%= sort_admin_pages_path %>">
  <li data-position="before" data-id="<%= @pages[nil].first.id %>" class="drop_line"><img src="../../images/admin/cms/bullet_go.png" height="16" width="16" /></li>
  <%= render @pages[nil] %>
</ul>

