!!!
%html
  %head
    %title Dummy Admin
    = stylesheet_link_tag 'page_engine/admin/cms', "application"
    = javascript_include_tag "application"
    = csrf_meta_tags   
  %body    
    #content
      = yield
