/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markdown.markItUp .markItUpButton1 a {
	background-image:url(/assets/markitup/icons/h1.png); 
}
.markdown.markItUp .markItUpButton2 a {
	background-image:url(/assets/markitup/icons/h2.png); 
}
.markdown.markItUp .markItUpButton3 a {
	background-image:url(/assets/markitup/icons/h3.png); 
}
.markdown.markItUp .markItUpButton4 a {
	background-image:url(/assets/markitup/icons/h4.png); 
}
.markdown.markItUp .markItUpButton5 a {
	background-image:url(/assets/markitup/icons/h5.png); 
}
.markdown.markItUp .markItUpButton6 a {
	background-image:url(/assets/markitup/icons/h6.png); 
}
.markdown.markItUp .markItUpButton7 a {
	background-image:url(/assets/markitup/icons/bold.png);
}
.markdown.markItUp .markItUpButton8 a {
	background-image:url(/assets/markitup/icons/italic.png);
}
.markdown.markItUp .markItUpButton9 a {
	background-image:url(/assets/markitup/icons/list-bullet.png);
}
.markdown.markItUp .markItUpButton10 a {
	background-image:url(/assets/markitup/icons/list-numeric.png);
}
.markdown.markItUp .markItUpButton11 a {
	background-image:url(/assets/markitup/icons/picture.png); 
}
.markdown.markItUp .markItUpButton12 a {
	background-image:url(/assets/markitup/icons/link.png);
}
.markdown.markItUp .markItUpButton13 a	{
	background-image:url(/assets/markitup/icons/quotes.png);
}
.markdown.markItUp .markItUpButton14 a	{
	background-image:url(/assets/markitup/icons/code.png);
}
.markdown.markItUp .preview a {
	background-image:url(/assets/markitup/icons/preview.png);
}
