/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.textile.markItUp .markItUpButton1 a {
	background-image:url(/assets/markitup/sets/textile/h1.png); 
}
.textile.markItUp .markItUpButton2 a {
	background-image:url(/assets/markitup/sets/textile/h2.png); 
}
.textile.markItUp .markItUpButton3 a {
	background-image:url(/assets/markitup/sets/textile/h3.png); 
}
.textile.markItUp .markItUpButton4 a {
	background-image:url(/assets/markitup/sets/textile/h4.png); 
}
.textile.markItUp .markItUpButton5 a {
	background-image:url(/assets/markitup/sets/textile/h5.png); 
}
.textile.markItUp .markItUpButton6 a {
	background-image:url(/assets/markitup/sets/textile/h6.png); 
}
.textile.markItUp .markItUpButton7 a {
	background-image:url(/assets/markitup/sets/textile/paragraph.png); 
}

.textile.markItUp .markItUpButton8 a {
	background-image:url(/assets/markitup/sets/textile/bold.png);
}
.textile.markItUp .markItUpButton9 a {
	background-image:url(/assets/markitup/sets/textile/italic.png);
}
.textile.markItUp .markItUpButton10 a {
	background-image:url(/assets/markitup/sets/textile/stroke.png);
}

.textile.markItUp .markItUpButton11 a {
	background-image:url(/assets/markitup/sets/textile/list-bullet.png);
}
.textile.markItUp .markItUpButton12 a {
	background-image:url(/assets/markitup/sets/textile/list-numeric.png);
}

.textile.markItUp .markItUpButton13 a {
	background-image:url(/assets/markitup/sets/textile/picture.png); 
}
.textile.markItUp .markItUpButton14 a {
	background-image:url(/assets/markitup/sets/textile/link.png);
}

.textile.markItUp .markItUpButton15 a	{
	background-image:url(/assets/markitup/sets/textile/quotes.png);
}
.textile.markItUp .markItUpButton16 a	{
	background-image:url(/assets/markitup/sets/textile/code.png);
}

.textile.markItUp .preview a {
	background-image:url(/assets/markitup/sets/textile/preview.png);
}
